# DataPortal properties file

# Postgresql Configuration parameters
db.Adapter=PostgresAdapter
db.Driver=org.postgresql.Driver
db.URL=jdbc:postgresql://localhost/pasta
db.MaxConnections=10
db.ServerName=localhost
db.Name=pasta
db.User=pasta
db.Password=HIDEPASSWORD
db.pkg.Driver=org.postgresql.Driver
db.pkg.URL=jdbc:postgresql://package.lternet.edu:5432/pasta
db.pkg.Name=pasta
db.pkg.User=pasta
db.pkg.Password=HIDEPASSWORD

# Data Portal properties
dataportal.portalUrlHead=https://portal.edirepository.org/nis
dataportal.downtime.dayOfWeek=Wednesday
dataportal.experimental=false
dataportal.hostname=portal.edirepository.org
dataportal.protocol=https
dataportal.port=443
dataportal.context=nis
# Amount of idle time (in minutes) before a logged-in session times out.
# This value correlates to the token TTL value in the authentication service.
# As we want the session to time out before the token expires, this value
# should be set to a value slightly lower than the token TTL value.
# 8 hours = 60 * 8 = 480
dataportal.session.timeout=480
dataportal.thumbnail.modify=false

# Junit test properties
dataportal.test.emlFileName=NoneSuchBugCount.xml
dataportal.test.path=test/data
dataportal.test.scope=knb-lter-nwk
dataportal.test.identifier=5030
dataportal.test.revision=1
dataportal.test.revision.update=2
dataportal.test.entity.id=a9201a0755fc45ae514abb12469c03a0
dataportal.test.entity.name=NoneSuchBugCount
dataportal.test.entity.size=882
tokenmanager.username=uid=chase\,o=EDI\,dc=edirepository\,dc=org
tokenmanager.token=dWlkPWNoYXNlLG89RURJLGRjPWVkaXJlcG9zaXRvcnksZGM9b3JnKmh0dHBzOi8vcGFzdGEuZWRpcmVwb3NpdG9yeS5vcmcvYXV0aGVudGljYXRpb24qMTY1MTgzMTU5NTM4NSphdXRoZW50aWNhdGVkKnZldHRlZA==-Yx4CXRxUtQDibJn9yFY8lmq+cSTnGGLEOlsbZBncEM+YN7dAXc9MjaExi+cMK78bKy9Oy+Do+KUAPg83xo1pRX7R0xIr1o5f6GffpNUk8A+kYI3la5q1nt9IUN1tUOd1lUYVWYq9/3Zg9B9oxdZCPHh0L6wH1A2FWJZu9uQW+CvyiHXJyMSmlcDEn/md4THbGo7CtWDSZ44Sd29H9CfgpRQz+sSe00dOwaWtVYiwgTf5MYh58i8LrWVZZEOaFeDFg/TgozE0fqyN7d1SCAnewwPig1xRZn7Evm+57qbli+3wd0mfQtz9EnSNC5pKRhvOla714dmlUXGRUagEH02SRg==
loginservice.username=uid=chase\,o=EDI\,dc=edirepository\,dc=org
loginservice.password=HIDEPASSWORD
eventservice.username=uid=chase\,o=EDI\,dc=edirepository\,dc=org
eventservice.password=HIDEPASSWORD
eventservice.token=dWlkPWNoYXNlLG89RURJLGRjPWVkaXJlcG9zaXRvcnksZGM9b3JnKmh0dHBzOi8vcGFzdGEuZWRpcmVwb3NpdG9yeS5vcmcvYXV0aGVudGljYXRpb24qMTY1MTgzMTU5NTM4NSphdXRoZW50aWNhdGVkKnZldHRlZA==-Yx4CXRxUtQDibJn9yFY8lmq+cSTnGGLEOlsbZBncEM+YN7dAXc9MjaExi+cMK78bKy9Oy+Do+KUAPg83xo1pRX7R0xIr1o5f6GffpNUk8A+kYI3la5q1nt9IUN1tUOd1lUYVWYq9/3Zg9B9oxdZCPHh0L6wH1A2FWJZu9uQW+CvyiHXJyMSmlcDEn/md4THbGo7CtWDSZ44Sd29H9CfgpRQz+sSe00dOwaWtVYiwgTf5MYh58i8LrWVZZEOaFeDFg/TgozE0fqyN7d1SCAnewwPig1xRZn7Evm+57qbli+3wd0mfQtz9EnSNC5pKRhvOla714dmlUXGRUagEH02SRg==
qualityreportutility.testreport=/test/data/knb-lter-nin.1.1.report.xml
qualityreportutility.xslpath=/WebRoot/WEB-INF/xsl/qualityReportFull.xsl
qualityreportutility.testpackageid=knb-lter-nin.1.1
provenancefactoryclient.testpackageid=knb-lter-nin.1.1

# PASTA HTTP connection information
pasta.hostname=pasta.lternet.edu
pasta.protocol=https
pasta.port=443
pasta.uriHead=https://pasta.lternet.edu/package/

# Authentication HTTP connection information
auth.hostname=auth.edirepository.org
auth.protocal=https
auth.port=443
auth.uriTail=/auth/login/pasta
auth.target=portal.edirepository.org
edi.auth.use=false
edi.public.id=PUBLIC_ID
edi.authenticated.id=AUTHENTICATED_ID
edi.vetted.id=VETTED_ID

# Data Package Management properties
dataportal.desktopUrlHead=https://portal.edirepository.org/nis/data
dataportal.maxNumberOfReservations=5
browse.dir=/home/pasta/local/browse
emlutility.xslpath=/WEB-INF/xsl/eml-2.xsl
reportutility.xslpath=/WEB-INF/xsl/qualityReportFull.xsl
emlutility.idref=/WEB-INF/xsl/id-ref.xsl
harvester.path=/home/pasta/local/harvester
harvester.report.daysToLive=180
subscriptionutility.xslpath=/WEB-INF/xsl/subscription.xsl
resultsetutility.xslpath=/WEB-INF/xsl/solrResultset.xsl
auditreport.limit=100
auditreport.xslpath=/WEB-INF/xsl/auditReport.xsl
datapackageaudit.xslpath=/WEB-INF/xsl/dataPackageAudit.xsl
system.cwd=/home/pasta/git/DataPortal
pastaclient.maxidletime=1800000
pastaclient.idlesleeptime=30000
pastaclient.initialsleeptime=15000
maps.google.key=GOOGLE_MAPS_KEY

# Umbra service
umbra.creators.urlHead=https://umbra-d.edirepository.org/creators

# Dex service
dex.url=https://dex.edirepository.org

# Ridare service
ridare.url=https://ridare.edirepository.org

# Cite service
cite.url=https://cite.edirepository.org

# SEO service
seo.url=https://seo.edirepository.org/seo/schema

# Crossref API service
crossref.url=http://dx.doi.org

# Vocabulary service
vocab.host=vocab.lternet.edu
vocab.ignore=false


# Single Sign-On services
# These are currently not in use, as the code for displaying these messages is commented out until we decide if we want to display them.
#sso.logout.msg=You are now signed out of the EDI Data Portal\, but you are still signed in with your identity provider. To completely sign out\, go to
#sso.logout.orcid.=<a href="https://orcid.org/" target="_blank">your ORCID account</a>\, click on your name in the upper right corner then click <b>Logout</b>
#sso.logout.google=<a href="https://myaccount.google.com/" target="_blank">your Google account</a>\, click on your profile picture in the upper right corner then click <b>Sign out of all accounts</b>
#sso.logout.github=<a href="https://github.com/" target="_blank">your GitHub account</a>\, click on your profile picture in the upper right corner then click <b>Sign out</b>
#sso.logout.microsoft=<a href="https://account.microsoft.com/" target="_blank">your Microsoft account</a>\, click on your profile picture in the upper right corner then click <b>Sign out</b>
