.classpath
.project
.settings
.mymetadata
.myeclipse
.DS_Store
.idea
.tern-project
*.iml
/out
classes
build
WebRoot/META-INF/
WebRoot/WEB-INF/conf/*.properties
WebRoot/WEB-INF/doc/
build.properties
documents/javadoc
