/*
    Styles for "Show more" and "Show less" adding functionality to HTML sections.
    The corresponding JS is in more.js.
*/

:root {
    /* Max number of lines to show by default in a more-less section */
    --pasta-more-max-lines: 3;
    --show-more-color: rgb(121, 153, 174);
}

.pasta-more-text {
}

.pasta-more-content {
    display: -webkit-box;
    -webkit-line-clamp: var(--pasta-more-max-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
}

.pasta-more-content-all {
    margin-bottom: 1rem;
}

.pasta-more {
    color: var(--show-more-color);
    cursor: pointer;
}

.pasta-more-show::after {
    content: "Show more >";
}

.pasta-more-less-show::after {
    content: "< Show less"
}

.pasta-more-show:hover, .pasta-more-less-show:hover {
    text-decoration: underline;
}
